.container {
  color: #222222;
  font-size: small;
}

#header {
  margin-top: 15px;
  background-color: #F6F6F7;
}

.row > div {
  padding: 5px 0px;
}

#productImage {
  max-width: 100%;
  height: auto;
}

.content {
  color: #888888
}

hr#lineTop {
  margin-bottom: 5px;
}

hr {
  color: #CCCCCC;
}

#sizeChar, .price {
  font-weight: bold;
  color: #222222;
}

.btn {
  margin-right: 5px;
  border-style: solid;
  border-color: #888888;
  font-size: small;
  border-radius: 0;
}

#myCart {
  text-align: center;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #F6F6F7;
  color: #888888;
  background-color: #F6F6F7;
}

#myCart #tableDetails{
  display: none;
}

#myCart:hover, #myCart:active{
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  color: #222222;
  background-color: white;
}

#myCart:hover #tableDetails, #myCart:active #tableDetails{
  display: block;
  position: absolute;
  right:0;
  top:100%;
  z-index: 1;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  padding: 20px 150px 20px 20px;
}

#CartImage {
  width: 70px;
  padding-bottom: 10px;
}

#CartDetails {
  white-space: nowrap;
  vertical-align: top;
  font-size: 12px;
  line-height: 200%;
}

#addToCart {
  background-color: white;
  border-style: solid;
  border-color: #222222;
  border-width: 2px;
  padding: 5px 20px;
  text-align: center;
  transition: 0.2s;
}

#addToCart:hover {
  background-color: #222222;
  color: white;
}


